<!-- This webpage is for failed queries. -->
<!DOCTYPE html> 
<html lang="en">
  <head>

    <!-- New Immanuel Ntim-Addae Style Edits-->
    <style> 
    body {background-color: lightblue}
    h1 {color: black; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    h2 {color: black; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    label {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
    </style>
    <!-- End of Immanuel Ntim-Addae Style Edits-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MBTA Finder</title>
  </head>
<!--This is where Immanuel Ntim-Addae Edits begin. Feel free to delete this section if it causes issues or is uneccessary.-->

    <!-- Have to fix value error found in the python file. We need to create an option for if and when a location cannot be found. -->

  <!--End of Immanuel Ntim-Addae Edits-->
</form>
  <body>
<center style = "padding: 70px;">
<h1>MBTA Nearest Station Application</h1>
<h2>"Providing new ways to not use Google Maps!"</h2>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/MBTA.svg/1024px-MBTA.svg.png" alt = "T-Station Symbol" width= 200px height = 200px>
    <h1> No Station Found</h1>
    <h2> Sorry, we did not find a station within half a mile away from you.</
    <p>Hi</p>
    </center>
  </body>
</html>
