<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check the closest MBTA station to your current location!</title>
    <style>
        form {
            border: 1px solid gray;
            padding: 10px;
        }

    </style>
</head>

<body>
    <form action="" method="post">
        <label for="">Current location: <input type="text" name="place"></label>
        <button>Submit</button>
    </form>
</body>

</html>