<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Amazing app to help you find nearest MBTA station</title>
  </head>
  <body>
    <h1>MBTA Helper</h1>
    <form method = "post">
      <p>
      Enter an address in the city of Boston to find the closest MBTA station
    </p>
      <label for="Location">Location:</label>
      <input type = "text" size = 25 name = "Location" required>
     
      
    <button>Find MBTA station</button>
    <img src="MBTA_IMage.jpg" height="500px" width="500px" >   
  </body>
</html>
