<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .place_name {
        color: blue;
        font-weight: bold;
    }
</style>
<body>
    <div>The Nearest Station in <strong class="place_name">{{place_name}}</strong> is: {{station_name}}</div>
        
    <div>Wheelchair Accessible is:{{wheelchair_accessible}}</div>

    <div>Temperature is: {{temperature}} Kelvin</div>
    
    
</body>
</html>