<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MBTA Station Details</title>

    <!-- Referenced my repository for Professor Shankar's class -->
    <style type="text/css">
        body{background-color:gold; color:black; text-align:center; font-family:Verdana}
    </style>
</head>


<!-- Referenced my repository for Professor Shankar's class -->
<body>
    <h1>Closest MBTA Station Based on the Location</h1>
    <!-- Referenced to learn about accessing passed variables https://flask.palletsprojects.com/en/2.2.x/quickstart/#the-request-object -->
    <h2>Station Name: {{name}}</h2>
    <h3>{{accessible}}</h3>
    <h4>The Tempreature is {{temperature}} Degrees Fahrenheit</h4>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Flag_of_Boston.svg/500px-Flag_of_Boston.svg.png" alt="Public Domain Image of Boston Flag">
</body>


</html>
