<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station Not Found</title>
    <style>
        body {
            text-align: center;
            background-color: lightgray;
            
        }

        h1 {
            margin: 10% 5% auto 5%;
        }

        p {
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            padding-top: 30px;
        }

        .credits {
            font-size: 18px;
            color: slategray;
            margin-top: 30%;
            margin-bottom: 10px;
        }


    </style>

</head>

<body>
<h1>We're sorry, we couldn't find a nearby MBTA station for the provided location. Please make sure the location is within the Greater Boston area and try again. If the issue persists, try providing a more specific location or check for typos.</h1>
<p>Thank you for using our app. To try another query, return to the <a href="/redirect">home page</a></p>
<p class="credits">Site by Meowers LLC.</p>

</body>

</html>