<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        form{
            border: 1px solid gray;
            padding: 10px;
        }
    </style>
</head>

<body>
    <form action="" method="post">  
        <label for="">City: <input type="text" name="city"></label>
        <button>Get Nearest Station</button>
    </form>
    <p class="blue">
        Example: Boston Commons, MA <br>
        Example: Washington Street <br>
        Example: Revere
    </p> 
</body> 

</html>

<!DOCTYPE html>
<html lang="en">

